<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= config.title %></title>
    <link rel="stylesheet" href="https://unpkg.com/chota@latest" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />

  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-12"><%- partial('_partial/nav') %></div>
      </div>
      <div class="row">
        <main class="col-12"><%- body %></main>
      </div>
    </div>
  </body>
</html>
