<p class="sidePhoto">
  <img src="/img/matt_bw.jpg" alt="matt photo" />
</p>
<p class="socialLinks">
  <a href="<%- theme.social['LinkedIn'] %>"
    ><img
      src="https://icongr.am/devicon/linkedin-original.svg?size=25&color=currentColor"
  /></a>
  <a href="<%- theme.social['Twitter'] %>"
    ><img
      src="https://icongr.am/devicon/twitter-original.svg?size=25&color=currentColor"
  /></a>
</p>
